* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background: url("../../assets/almayo.jpg") no-repeat center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: black;
  animation: fadeIn 2s ease-in-out;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: black;
  animation: fadeIn 2s ease-in-out;
  animation-delay: 0.5s;
}

.cta-btn {
  padding: 12px 30px;
  background-color: #00bcd4;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0288d1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #f7f7f7;
}

.feature-item {
  text-align: center;
  width: 25%;
  padding: 30px;
  transition: transform 0.3s ease;
}

.feature-item i {
  font-size: 3rem;
  color: #00bcd4;
  margin-bottom: 20px;
}

.feature-item h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin-bottom: 10px;
}

.social-links a {
  font-size: 2rem;
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #00bcd4;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    width: 80%;
    margin-bottom: 30px;
  }
}
